<header>
  <div class="logo" id="logo">
  <a href="app.component.html" id="">Hello</a>
  <div class="hamburger" (click)="navBardropdown()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>
</header>


<nav class="fixed">
    <ul id="navigation" class="nav navbar-nav" >
      <li class="navigation-link">
        <a href="\#home" class="navigation-head" id="nav-link">work</a>
      </li>
      <li class="navigation-link">
        <a href="" class="navigation-head" id="nav-link" >story</a>
      </li>
      <li class="navigation-link">
        <a href="" class="navigation-head" id="nav-link">expirience</a>
      </li>
      <li class="navigation-link">
        <a href="" class="navigation-head" id="nav-link">contact</a>
      </li>
    </ul>
</nav>
<body>
<section id="intro">
  <div class="intro">
    <div class="firstLine">
      Hey There!
    </div>
  </div>

</section>



  <ng-container >
    <div class="container-home" id="home">
      <p>Home conatiner</p>
    </div>

  </ng-container>
</body>


<router-outlet></router-outlet>
